---
import { Image } from "astro:assets";
import visionImg from "../../assets/images/our-vision-img.jpg";
import missionImg from "../../assets/images/our-mission-img.jpg";
import approachImg from "../../assets/images/our-approach-img.jpg";
---

<!-- Vision Mission Section Start -->
<div class="vision-mission">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">vision mission</h3>
          <h2 class="text-anime-style-3" data-cursor="-opaque">
            Driving excellence and innovation in car rental services
          </h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Sidebar Our Vision Mission Nav start -->
        <div class="our-projects-nav wow fadeInUp" data-wow-delay="0.25s">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#vision"
                type="button"
                role="tab"
                aria-selected="true">our vision</button
              >
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#mission"
                type="button"
                role="tab"
                aria-selected="false">our mission</button
              >
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#approach"
                type="button"
                role="tab"
                aria-selected="false">our approach</button
              >
            </li>
          </ul>
        </div>
        <!-- Sidebar Our Vision Mission Nav End -->

        <!-- Vision Mission Box Start -->
        <div class="vision-mission-box tab-content" id="myTabContent">
          <!-- Our Vision Item Start -->
          <div
            class="our-vision-item tab-pane fade show active"
            id="vision"
            role="tabpanel"
          >
            <div class="row align-items-center">
              <div class="col-lg-6">
                <!-- Vision Mission Content Start -->
                <div class="vision-mission-content">
                  <!-- Section Title Start -->
                  <div class="section-title">
                    <h3 class="wow fadeInUp">our vision</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">
                      Pioneering excellence in car rental services
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay="0.25s">
                      We aim to continually innovate and integrate the latest
                      technology into our services. From easy online bookings to
                      advanced vehicle tracking systems, our goal is to make the
                      car rental process seamless and efficient for our
                      customers. Quality is at the heart of everything we do. We
                      maintain a diverse fleet of well-maintained vehicles that
                      meet the highest standards of safety and comfort.
                    </p>
                  </div>
                  <!-- Section Title End -->

                  <!-- Vision Mission List Start -->
                  <div
                    class="vision-mission-list wow fadeInUp"
                    data-wow-delay="0.5s"
                  >
                    <ul>
                      <li>Our customers are our top priority</li>
                      <li>Quality is at the heart of everything we do</li>
                      <li>
                        every vehicle leaves care looking its absolute best
                      </li>
                    </ul>
                  </div>
                  <!-- Vision Mission List End -->
                </div>
                <!-- Vision Mission Content End -->
              </div>

              <div class="col-lg-6">
                <!-- Vision Image Start -->
                <div class="vision-image">
                  <figure class="image-anime reveal">
                    <Image src={visionImg} alt="" />
                  </figure>
                </div>
                <!-- Vision Image End -->
              </div>
            </div>
          </div>
          <!-- Our Vision Item End -->

          <!-- Our Vision Item Start -->
          <div
            class="our-vision-item tab-pane fade"
            id="mission"
            role="tabpanel"
          >
            <div class="row align-items-center">
              <div class="col-lg-6">
                <!-- Vision Mission Content Start -->
                <div class="vision-mission-content">
                  <!-- Section Title Start -->
                  <div class="section-title">
                    <h3>our mission</h3>
                    <h2 data-cursor="-opaque">
                      Pioneering excellence in car rental services
                    </h2>
                    <p>
                      We aim to continually innovate and integrate the latest
                      technology into our services. From easy online bookings to
                      advanced vehicle tracking systems, our goal is to make the
                      car rental process seamless and efficient for our
                      customers. Quality is at the heart of everything we do. We
                      maintain a diverse fleet of well-maintained vehicles that
                      meet the highest standards of safety and comfort.
                    </p>
                  </div>
                  <!-- Section Title End -->

                  <!-- Vision Mission List Start -->
                  <div class="vision-mission-list">
                    <ul>
                      <li>Our customers are our top priority</li>
                      <li>Quality is at the heart of everything we do</li>
                      <li>
                        every vehicle leaves care looking its absolute best
                      </li>
                    </ul>
                  </div>
                  <!-- Vision Mission List End -->
                </div>
                <!-- Vision Mission Content End -->
              </div>

              <div class="col-lg-6">
                <!-- Vision Image Start -->
                <div class="vision-image">
                  <figure class="image-anime reveal">
                    <Image src={missionImg} alt="" />
                  </figure>
                </div>
                <!-- Vision Image End -->
              </div>
            </div>
          </div>
          <!-- Our Vision Item End -->

          <!-- Our Mission Item Start -->
          <div
            class="our-mission-item tab-pane fade"
            id="approach"
            role="tabpanel"
          >
            <div class="row align-items-center">
              <div class="col-lg-6">
                <!-- Vision Mission Content Start -->
                <div class="vision-mission-content">
                  <!-- Section Title Start -->
                  <div class="section-title">
                    <h3>our approach</h3>
                    <h2 data-cursor="-opaque">
                      Pioneering excellence in car rental services
                    </h2>
                    <p>
                      We aim to continually innovate and integrate the latest
                      technology into our services. From easy online bookings to
                      advanced vehicle tracking systems, our goal is to make the
                      car rental process seamless and efficient for our
                      customers. Quality is at the heart of everything we do. We
                      maintain a diverse fleet of well-maintained vehicles that
                      meet the highest standards of safety and comfort.
                    </p>
                  </div>
                  <!-- Section Title End -->

                  <!-- Vision Mission List Start -->
                  <div class="vision-mission-list">
                    <ul>
                      <li>Our customers are our top priority</li>
                      <li>Quality is at the heart of everything we do</li>
                      <li>
                        every vehicle leaves care looking its absolute best
                      </li>
                    </ul>
                  </div>
                  <!-- Vision Mission List End -->
                </div>
                <!-- Vision Mission Content End -->
              </div>

              <div class="col-lg-6">
                <!-- Vision Image Start -->
                <div class="vision-image">
                  <figure class="image-anime reveal">
                    <Image src={visionImg} alt="" />
                  </figure>
                </div>
                <!-- Vision Image End -->
              </div>
            </div>
          </div>
          <!-- Our Mission Item End -->
        </div>
        <!-- Vision Mission Box End -->
      </div>
    </div>
  </div>
</div>
<!-- Vision Mission Section End -->
